@model IEnumerable<PROG7311_Task_2.Models.Product>

@{
    ViewBag.Title = "ProductListByFarmers";
}

<h2>ProductListByFarmers</h2>

<div class="btn btn-default spanlink">@Html.ActionLink("Add Farmer", "AddFarmer", "Employee", new { })</div>
<div class="btn btn-default spanlink">@Html.ActionLink("Back to main page", "EmployeeMainPage", "Employee", new { })</div>

<table class="table">
    @using (Html.BeginForm())
    {
        <p>
            Find by farmer name: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </th>
        <th>
            @Html.ActionLink("Product Type", "ProductListByFarmers", new { orderBy = ViewBag.ProductTypeSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Date Product Added", "ProductListByFarmers", new { orderBy = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FarmerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <th>
                @{
                    var base64 = Convert.ToBase64String(item.ProductImage);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
                <img src='@imgSrc' style="max-width:100px; max-height:100px;" />
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAddedProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FarmerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>

        </tr>
    }
</table>